<h3>Edit Post</h3>
<form class="edit-post-form">
    <div>
        <input id= "title" name="title" type="text" value="{{name}}">
    </div>
    <div>
        <input id= "description" name="description" type="text" value="{{description}}">
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>

<script src="/js/editPost.js"></script>